<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="business">
	<insert id="join" parameterType = "business.model.CompanyData">
		insert into company values (#{ID},#{PASS},#{CALLNUM},#{EMAIL},#{CONUMBER},#{NAME},#{BOSS},'',0,'','','','','',#{SORT},#{ADDR})
	</insert>
	<select id="idCheck" resultType="business.model.CompanyData" parameterType = "java.lang.String">
		select * from company where id = #{id}
	</select>
	<select id="passCheck" resultType="business.model.CompanyData" parameterType = "java.util.HashMap">
		select * from company where id = #{id} and pass = #{pass}
	</select>
	<update id="dataUp" parameterType = "business.model.CompanyData">
		update company set callnum=#{CALLNUM}, email=#{EMAIL}, boss=#{BOSS}, addr=#{ADDR}, website=#{WEBSITE},employee_num=#{EMPLOYEE_NUM},inco=#{INCO},form=#{FORM},salesaccount=#{SALESACCOUNT},industry=#{INDUSTRY},introduce=#{INTRODUCE} where id=#{ID}
	</update>
	<select id="getCompanyData" resultType="business.model.CompanyData" parameterType = "java.lang.String">
		select * from company where id = #{id}
	</select>
	<select id="getCompanyName" resultType="java.lang.String" parameterType = "java.lang.String">
		select name from company where id = #{id}
	</select>
	
	<select id="getCompanyIntrodunction" parameterType="java.lang.String" resultType="business.model.CompanyData">
		select * from company where name = #{name} 
	</select>
	
	
	<select id="getCompanyNewPost" parameterType="java.lang.String" resultType="java.lang.Integer">
		select temp.num from
		(select rownum rn, p.* from (select * from post order by uploaddate desc) p where p.company = ${company}) temp
		where temp.rn = 1
	</select>
	<select id="getCompanyPostVol" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select p.vol from post p where p.num=${post}
	</select>
	<select id="getCompanyPosthits" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select p.hits from post p where p.num=${post}
	</select>
	<select id="getCompanyPostClip" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select count(*) from (select * from clipping where postnum = ${post})
	</select>
	
</mapper>