<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="file">

	<!-- 기업 -->
	<!-- 파일 업로드 -->
	<insert id="companyFileUpload" parameterType = "file.model.FileData">
		insert into companyfile values (companyfile_seq.nextval,#{FILESIZE},#{FILETYPE},#{TITLE},
		#{FILENAME},#{FILEUUID},#{UPLOADER},sysdate,#{POST})
	</insert>
	<!-- 회사가 올린 모든 파일 목록 로드 -->
	<select id="getAllCompanyFile" resultType="file.model.FileData">
		select * from companyfile order by num desc
	</select>
	<!-- 특정 기업회원이 올린 모든 파일 목록 로드 -->
	<select id="getSomeCompanyFile" resultType="file.model.FileData" parameterType="java.lang.String">
		select * from companyfile where uploader=#{id} order by num desc
	</select>
	<!-- 회사가 올린 특정 파일 로드 -->
	<select id="getOneCompanyFile" resultType="file.model.FileData" parameterType="java.lang.Integer">
		select * from companyfile where NUM=#{num}
	</select>
	<!-- 해당 포스트에서 받은 이력서 로드(최신순) -->
	<select id="getPostWorkFile" resultType="file.model.FileData" parameterType="java.lang.Integer">
		select * from workfile where post=#{post} order by num desc
	</select>
	<!-- 지원받은 이력서 개별 로드 -->
	<select id="getOneWorkFile" resultType="file.model.FileData" parameterType="java.lang.Integer">
		select * from workfile where NUM=#{num}
	</select>
	<delete id="updatePostFileDelete" parameterType="java.lang.Integer">
		delete from companyfile where post=#{POST}
	</delete>
	
	
	<!-- 유저 -->
	<!-- 파일 업로드 -->
	<insert id="workFileUpload" parameterType = "file.model.FileData">
		insert into workfile values (workfile_seq.nextval,#{COMPANY},#{POST},#{TITLE},
		#{FILENAME},#{FILEUUID},#{UPLOADER},sysdate)
	</insert>
	<!-- 해당 포스트 파일(지원양식) 로드 -->
	<select id="getPostCompanyFile" resultType="file.model.FileData" parameterType="java.lang.Integer">
		select * from companyfile where post=#{post}
	</select>
	

	
	
	
	
</mapper>