<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

<insert id="join" parameterType="java.util.HashMap">
 	insert into work values(WORK_SEQ.nextval, #{id}, #{name}, #{pass}, #{phone},#{email}, #{gender} ) 
</insert>

<select id="check" parameterType="java.lang.String" resultType="java.util.HashMap">
	select * from work w where id=#{id} 
</select>

<select id="check2" parameterType="java.lang.String" resultType="java.util.HashMap">
	select * from company w where id=#{id} 
</select>

<select id="loginW" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	select * from work where id=#{id} and pass=#{pass}
</select>

<select id="loginC" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	select * from company where id=#{id} and pass=#{pass}
</select>

<select id="Myworkfile" parameterType="java.lang.String" resultType="java.util.HashMap">
	select * from workfile where uploader=#{id}
</select>

<select id="Myclipping" parameterType="java.lang.String" resultType="java.util.HashMap">
	select * from clipping where id=#{id}
</select>

<update id="MyinfoChange" parameterType="java.util.HashMap">
	UPDATE work SET name = #{name} ,pass = #{pass}, email=#{email} WHERE id = #{id}
</update>

<select id="Myinfo" parameterType="java.lang.String" resultType="java.util.HashMap">
	select * from work where ID= #{id}
</select>

<delete id="ClippingCancel" parameterType="java.lang.String">
		delete from clipping where num=#{num}
	</delete>


</mapper>