<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="post">
	<insert id="postUpload" parameterType = "post.model.PostData">
		insert into post values ( post_seq.nextval,#{WAY},#{COMPANY},#{TITLE},sysdate,#{STARTDATE},
		#{ENDDATE},#{JOB},#{LOCAL},#{CAREER},#{HIRETYPE},#{BUSINESS},#{QUALIFICATION},#{PROCESS},
		#{RANK},#{SALARY},#{INCHARGE},#{CALLNUMBER},0,0,#{PAY},#{EDUCATION})
	</insert>
	<update id="postDataUpdate" parameterType = "post.model.PostData">
		update post set WAY=#{WAY},TITLE=#{TITLE},STARTDATE=#{STARTDATE},
		ENDDATE=#{ENDDATE},JOB=#{JOB},LOCAL=#{LOCAL},CAREER=#{CAREER},HIRETYPE=#{HIRETYPE},
		BUSINESS=#{BUSINESS},QUALIFICATION=#{QUALIFICATION},PROCESS=#{PROCESS},EDUCATION=#{EDUCATION},
		RANK=#{RANK},SALARY=#{SALARY},INCHARGE=#{INCHARGE},CALLNUMBER=#{CALLNUMBER},PAY=#{PAY}
		where NUM=#{NUM} 
	</update>
	<!-- 포스트 조회(글번호로 불러오기) -->
	<select id="getPostData" parameterType="java.lang.Integer" resultType="post.model.PostData">
		select * from post where NUM=#{NUM} 
	</select>
	<!-- 지원자수 많은 순서대로 top15 -->
	<select id="getTopPost" resultType="post.model.PostData">
		<![CDATA[select * from (select * from post order by VOL desc) where rownum <= 15 ]]>
	</select>
	<!-- 해당 회원이 올린 post 전부 불러오기(최신순) -->
	<select id="getCompanyAllPost" resultType="post.model.PostData" parameterType="java.lang.String">
		select * from post where company=#{company} order by num desc
	</select>
	<!-- 마감임박 Post top 3(조회순) -->
	<select id="getLatePost" resultType="post.model.PostData">
		<![CDATA[select * from (select * from post where enddate >= sysdate order by enddate asc, hits asc) where rownum <= 3]]>
	</select>
	
	<select id="getAllPost" resultType="java.util.HashMap">
		<![CDATA[select p.* from (select enddate-sysdate magam, pp.* from post pp where enddate-sysdate >= 0) p ORDER BY magam]]>
	</select>
	<select id="getAllCount" resultType="java.lang.Integer">
		<![CDATA[select count(*) from (select enddate-sysdate magam, pp.* from post pp where enddate-sysdate >= 0) p ORDER BY magam]]>
	</select>
	
	
	<!-- postpage 검색 -->
	<select id="getPage" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		<![CDATA[
			select temp.* from
			  (select rownum rn, r.* from post r order by num desc)temp
			  where temp.rn >= #{start} and temp.rn <=#{end}
		  ]]>
	</select>
	
	<!--지원 취소 -->
	<delete id="cancel" parameterType="java.lang.String">
		delete from workfile where num=#{num}
	</delete>
	
	<select id="Postget" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from post where num=#{num}
	</select>
	
	
</mapper>