<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="review">

<!-- 연봉 -->
	<select id="Income"  resultType="java.util.HashMap" >
		<![CDATA[
		select rownum rank, temp.* from
		(select company,SALARY, avg(pay) pyavg from
		(select po.company co, po.SALARY,inc.company, inc.pay
		from post po, income inc where po.company = inc.company)
		group by company,SALARY order by pyavg desc)temp
   	 where company = #{COMPANY}
  		]]>
	</select>
	
	<!-- 면접 난이도 -->
	<select id="InterviewLevel" resultType="java.util.HashMap">
		<![CDATA[
		select * from (
  			select temp.* from
    			(select company, avg(interviewlevel) average 
      			from interview group by company) 
  			temp) 
		where company = #{COMPANY}
		]]>
	</select>
	
	<!-- 면접 경험 -->
	<select id="interAppraisal" resultType="java.util.HashMap">
	
		select  appraisal, count(*) cnt from interview where company = #{company} 
            group by appraisal
     
	</select>
	
	<!-- 면접결과 -->
	<select id="interPass" resultType="java.util.HashMap">

		select  pass, count(*) cnt from interview where company = #{company}
            group by pass 

	</select>
	
	<select id="all" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from review where company=#{company}
	</select>

	<select id="avg" parameterType="java.lang.String" resultType="java.util.HashMap">
		select avg(WELFARE) aWELFARE,avg(WORKLOAD) aWORKLOAD
		,avg(CULTURE) aCULTURE,
		avg(CHANCE) aCHANCE,
		avg(THINK)aTHINK,avg(RECOMAND)aRECOMAND,avg(FUTURE)aFUTURE from review
	</select>

	<insert id="write" parameterType="java.util.HashMap">
	 	insert into review values(WORK_SEQ.nextval, #{company}, #{type}, #{employment}, #{career}, #{averagescore},#{onereview}, #{positive},
	 							#{negative}, #{welfare}, #{workload}, #{culture}, #{chance}, #{think}, #{recomand}, #{future}, sysdate) 
	</insert>
	
	<select id="WELFARE" resultType="java.util.HashMap">
		select company, avg(WELFARE) WELFARE from review r group by company ORDER by WELFARE desc
	</select>
	
	<select id="WORKLOAD" resultType="java.util.HashMap">
		select company, avg(WORKLOAD) WORKLOAD from review r group by company ORDER by WORKLOAD desc
	</select>
	
	<select id="CULTURE" resultType="java.util.HashMap">
		select company, avg(CULTURE) CULTURE from review r group by company ORDER by CULTURE desc
	</select>
	
	<select id="CHANCE" resultType="java.util.HashMap">
		select company, avg(CHANCE) CHANCE from review r group by company ORDER by CHANCE desc
	</select>
	
	<insert id="income" parameterType="java.util.HashMap">
		insert into income values(INCOME_SEQ.nextval, #{company}, #{type}, #{employment}, #{career}, #{pay}, #{bonus}, #{period})
	</insert>
	
	<insert id="interview" parameterType="java.util.HashMap">
		insert into interview values(INTERVIEW_SEQ.nextval, #{company}, #{type}, #{employment}, #{career}, #{appraisal}, #{interviewlevel}, #{pass})
	</insert>
	
</mapper>
