<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="search">
	<select id="searchall" resultType="java.util.HashMap">
		<![CDATA[
			select p.* from (select enddate-sysdate magam, pp.* from (select * from post where lower(way) like lower (#{word}) or lower(company) like lower (#{word})
				or lower(title) like lower (#{word}) or lower(job) like lower (#{word}) or lower(local) like lower (#{word})
				or lower(career) like lower (#{word}) or lower(hiretype) like lower (#{word}) or lower(business) like lower (#{word})
				or lower(rank) like lower (#{word}) or lower(salary) like lower (#{word}) or lower(qualification) like lower (#{word})
				or lower(education) like lower (#{word}))pp where enddate-sysdate >= 0) p ORDER BY magam
		]]>
	</select>
	
</mapper>