<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="workfile">
	<insert id="apply" parameterType="java.util.HashMap">
		insert into workfile values (workfile_seq.nextval,#{company},#{post},#{title},#{filename},#{fileuuid},#{uploader},sysdate)
	</insert>
	
	

	
	<!-- 지원자 확인용(business) -->
	<select id="allpostfile" parameterType="java.lang.Integer" resultType="file.model.FileData">
		select rownum rn, temp.* from(select * from workfile where post = #{POST} order by upday asc) temp order by rn desc
	</select>
	<select id="getOnepostfile" parameterType="java.util.HashMap" resultType="file.model.FileData">
		select * from workfile where post = #{post} AND UPLOADER = #{uploader}
	</select>
	
	<delete id="Newresume" parameterType="java.util.HashMap">
		delete from workfile where post = #{post} and UPLOADER = #{uploader}
	</delete>
	

</mapper>